body {
    max-width: 100% !important;
    background-color: #FAFAFA;
}

.header {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 1% 0 2% 0;
    max-width: 100vw;
}

.header h1 {
    font-size: 3.2em;
    padding: 0;
    margin: 0;
}

.header hr {
    margin: 0em;
    border-width: 2px;
}

h1, h2, h3, h4, h5, h6, p, ul {
    color: black;
}

a {
    color: darkblue;
}

.title {
    display: flex;
    padding: 0 1%;
}

.title h1 {
    font-size: 3em;
}

.title-left {
    max-width: 60%;
    float: left;
    padding: 0 1%;
}

.title-left img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 50px;
}

.title-right {
    max-width: 40%;
    float: right;
    text-align: center;
}

.title-links {
    text-align: center;
    display: flex;
}

.title-links a {
    width: 25%;
}

button {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1% 3%;
    margin: 2% 4%;
    width: 85%;
}

button:hover {
    transition: 0.3s ease;
    background-color: white;
    cursor: pointer;
}

#skillsbtn:hover {
    color: red;
    border: 1px solid red;
}

#expbtn:hover {
    color: red;
    border: 1px solid red;
}

#edubtn:hover {
    color: red;
    border: 1px solid red;
}

#certbtn:hover {
    color: red;
    border: 1px solid red;
}

button>a {
    text-decoration: none;
    color: inherit;
}

.row {
    margin-top: 1%;
    display: flex;
    padding: 0 1%;
    text-align: center;
}

.column {
    display: inline-block;
    word-break: break-all;
}

.w1 {
    width: 100%;
}

.w2 {
    width: 50%;
}

.w3 {
    width: 33%;
}

li {
    list-style-type: square;
    font-size: 1.1em;
    line-height: 1.7em;
}

.row#skills {
    border-top: 2px solid red;
}

.row#experience {
    border-top: 2px solid blue;
}

.row#education {
    border-top: 2px solid green;
}

.row#certificates {
    border-top: 2px solid purple;
}