body {
    max-width: 100% !important;
    background-color: #F5F5F5;
}

.header {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 0;
    margin: 1% 0 2% 0;
    max-width: 100vw;
}

.header h1 {
    font-size: 3.2em;
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

.header hr {
    margin: 0em;
    border-width: 2px;
}

h1, h2, h3, h4, h5, h6, p, ul {
    color: black;
    word-break: keep-all;
}

a {
    color: darkblue;
}

.title {
    display: flex;
    padding: 0 1%;
}

.title h1 {
    font-size: 3em;
}

.title-left {
    max-width: 50%;
    float: left;
    padding: 0 1%;
}

.title-left img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 50px;
}

.title-right {
    max-width: 100%;
    float: right;
    text-align: center;
}

.title-right p {
    padding: 0 3%;
}

.title-links {
    text-align: center;
    display: flex;
}

.quick-link {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1% 5%;
    margin: 2% 4%;
    width: 85%;
    box-shadow: 3px 5px gray;
}

.quick-link:hover {
    transition: 0.3s ease;
    background-color: white;
    cursor: pointer;
}

.title-links a {
    width: 20%;
}

.links {
    display: block;
}

.links a {
    text-decoration: none !important;
}

.contact-link {
    text-align: center;
    padding: 1% 2%;
    margin: 1%;
}

.contact-link:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px gray;
}

.contact-link#linkedin {
    color: white;
    background-color: blue;
    border: none;
    box-shadow: 1px 0px 2px blue;
}

.contact-link#email {
    color: black;
    background-color: whitesmoke;
}

.contact-link#phone {
    color: black;
    background-color: whitesmoke;
}

.contact-link#email:hover, .contact-link#phone:hover{
    transition: 0.1s;
    color: blue;
    background-color: white;
}

#skillsbtn:hover {
    color: red;
    border: 1px solid red;
    box-shadow: 3px 5px red;
}

#expbtn:hover {
    border: 1px solid blue;
    box-shadow: 3px 5px blue;
}

#edubtn:hover {
    border: 1px solid green;
    box-shadow: 3px 5px green;
}

#certbtn:hover {
    border: 1px solid purple;
    box-shadow: 3px 5px purple;
}

#portbtn:hover {
    border: 1px solid orange;
    box-shadow: 3px 5px orange;
}

button>a {
    text-decoration: none;
    color: inherit;
}

.row {
    margin-top: 1%;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.row p {
    padding: 0 15%;
    line-height: 1.2em;
}

.row-flex {
    margin-top: 1%;
    display: flex;
    padding: 0 1%;
    text-align: center;
}

.row-flex a {
    text-decoration: none !important;
    margin: 0 0.5%;
}

.row-flex img {
    display: flex;
    max-width: 100%;
    height: auto;
}

.row-flex img:hover {
    box-shadow: 0px 0px 2px gray;
}

.column {
    word-break: keep-all;
}

.w1 {
    width: 100%;
}

.w2 {
    width: 50%;
}

.w3 {
    width: 33%;
}

.w4 {
    width: 25%;
}

ul {
    text-align: left;    
}

li {
    list-style-type: square;
    font-size: 1.1em;
    line-height: 1.7em;
    word-break: keep-all;
}

.row#skills {
    border-top: 2px solid red;
    width: 100%;
}

.row#experience {
    border-top: 2px solid blue;
}

.row#education {
    border-top: 2px solid green;
}

.row#certificates {
    border-top: 2px solid purple;
}

.row#portfolio {
    border-top: 2px solid orange;
}

.progress {
    padding: 0 1%;
    margin: 2% 1%;
}

.progress-bar {
    background-color: gray;
    width: 100%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid white;
    overflow: hidden;
    text-align: left;
}

.progress-bar span {
    color: white;
    position: absolute;
    margin: 0 1%;
    padding: 3px 0;
    vertical-align: middle;
}

.progress-bar-25 {
    width: 25%;
    height: inherit;
}

.progress-bar-50 {
    width: 50%;
    height: inherit;
}

.progress-bar-75 {
    width: 75%;
    height: inherit;
}

.progress-bar-100 {
    width: 100%;
    height: inherit;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

footer {
    border-top: 2px solid black;
}

@media only screen and (max-width: 1000px) {
    .header h1 {
        font-size: 2em;
    }
    .title {
        display: inline;
    }
    .title h1 {
        font-size: 2em;
    }
    .title-left, .title-right {
        max-width: 100%;
    }
    .row {
        margin-top: 2%;
    }
    .row-flex {
        display: block;
    }
    .column {
        width: 100%;
        margin: 0.5%;
        padding: 0 0.5%;
    }
    .title-links {
        display: block;
    }
    .row p {
        padding: 0 2%;
    }
    .links {
        width: 100% !important;
    }
}