html {
  scroll-behavior: smooth;
}

body {
  background-color: #ecf0f1;
  margin: 0;
}

ul {
  list-style: square;
  line-height: 1.3em;
}

hr {
  color: #1e88e5;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-image {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
}

.no-border {
  border: none !important;
}

.no-shadow {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.title {
  text-align: center;
}

.white {
  color: white;
}

.black {
  color: black;
}

.w-50 {
  width: 50%;
}

p > a {
  text-decoration: underline;
  color: blue;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  text-decoration: none;
  color: #1e88e5;
  font-size: 1.1em;
  letter-spacing: 1.2px;
  width: 100%;
  background-color: transparent;
}

.btn:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #1e88e5;
  background-color: white;
  -webkit-box-shadow: 1px 1px 2px #1e88e5;
          box-shadow: 1px 1px 2px #1e88e5;
}

.btn-nav {
  margin: 0px 1%;
  padding: 4% 8%;
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

@media screen and (max-width: 1200px) {
  .btn-nav {
    padding: 2% 4%;
  }
}

.btn-footer {
  margin: 0px 1%;
  padding: 2% 3%;
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

@media screen and (max-width: 1200px) {
  .btn-footer {
    margin: 2%;
  }
}

.nav {
  width: 100%;
  left: 0;
  top: 0;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #1e88e5;
  -webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
}

.nav-title {
  float: left;
  top: 0;
  padding: 0.5% 1%;
}

@media screen and (max-width: 1200px) {
  .nav-title {
    float: none;
  }
}

.nav-title h1 {
  color: #1e88e5;
  text-decoration: none;
  padding: 0 !important;
  margin: 0 !important;
}

.nav-menu {
  text-align: center;
  width: 50%;
  height: inherit;
  margin: 1%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 1% 2%;
  }
}

.nav-item {
  width: 100%;
  margin: 0 1%;
}

@media screen and (max-width: 1200px) {
  .nav-item {
    margin: 0 3%;
  }
}

footer {
  border-top: 1px solid #1e88e5;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

footer h3 {
  text-align: center;
  width: 100%;
}

footer > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  footer > div {
    display: block;
    text-align: center;
    width: 100%;
  }
}

footer > div > div {
  margin: 5%;
}

.container {
  width: 100%;
  display: block;
}

.container img {
  width: 100%;
  height: auto;
}

.inner {
  max-width: 100%;
  padding: 0.5%;
}

.inner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .inner-flex {
    display: inline;
  }
}

.inner-flex:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.6);
}

.inner-2 {
  width: 50%;
}

.inner-3 {
  width: 33%;
}

.inner-4 {
  width: 25%;
}

.inner-left {
  float: left;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .inner-left {
    float: none;
    width: auto;
  }
}

.inner-right {
  float: right;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .inner-right {
    float: none;
    width: auto;
  }
}

.inner-text {
  padding: 1% 3%;
}

@media screen and (max-width: 1200px) {
  .inner-text {
    padding: 1%;
  }
}

.inner-text > div {
  text-align: center;
}

.inner-solo {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .inner-solo {
    width: auto;
  }
}

.inner-center {
  margin: 0 auto;
}

.inner img {
  width: auto;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .inner img {
    width: 100%;
    height: auto;
  }
}

.banner {
  text-align: center;
  color: white;
  padding: 0 !important;
  margin: 0 !important;
}

.banner .text-over-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  padding: 2% 4%;
  -webkit-box-shadow: 0.5px 0.5px 2px black;
          box-shadow: 0.5px 0.5px 2px black;
}

.box-light {
  -webkit-box-shadow: 0.5px 0.5px 2px white;
          box-shadow: 0.5px 0.5px 2px white;
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3%;
}

.page-title h1 {
  border-bottom: 1px solid #1e88e5;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 1%;
  padding: 2%;
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .grid {
    -ms-grid-columns: none;
        grid-template-columns: none;
    display: block;
  }
}

.grid-item {
  padding: 1% 0;
  text-align: center;
  width: 100%;
  height: auto;
}

.grid-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-box-shadow: 0px 0px 6px 1px #1e88e5;
          box-shadow: 0px 0px 6px 1px #1e88e5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 3px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .menu {
    display: inline;
  }
}

.menu-btn {
  margin: 1%;
  padding: 2% 4%;
  -webkit-box-shadow: 0.5px 0.5px 2px black;
          box-shadow: 0.5px 0.5px 2px black;
}

.menu-btn:after {
  content: '';
  display: block;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  width: 0;
  border-bottom: solid 3px #1e88e5;
}

.menu-btn:hover:after {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .menu-btn:nth-of-type(2n) {
    margin: 5% 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/eightedge019_1.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/eightedge019_1.jpeg");
  height: 100vh;
  font-size: 1.1em;
  letter-spacing: 1.4px;
}

@media only screen and (max-width: 1200px) {
  .text-over-image {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */