.menu {
    display: flex;
    padding: 2px 3px;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.banner {
    @include darken-img-bg("../images/eightedge019_1.jpeg");
    height: 100vh;
    font-size: 1.1em;
    letter-spacing: 1.4px;
}