// Main and Accent Colors
$bg-color: #ecf0f1;
$bg-dark: rgba(0, 0, 0, 0.6);
$bg-light: rgba(255, 255, 255, 0.6);

// Menu and Nav colors
$nav-color: rgba(107, 105, 214, 1);
//Page specific colors
$about-main-color: red;
$about-accent-color: darkred;
$work-main-color: green;
$contact-main-color: blue;
$portfolio-main-color: orange;