// Main and Accent Colors
$bg-color: #ecf0f1;
$bg-dark: rgba(0, 0, 0, 0.6);
$bg-light: rgba(255, 255, 255, 0.6);

// Menu and Nav colors
$accent-color: rgb(115, 114, 221);
//Page specific colors
$experience-main-color: red;
$experience-secondary-color: darkred;
$education-main-color: yellow;
$portfolio-main-color: orange;