@import "../utils/mixins.scss";

.container {
    width: 100%;
    display: block;

    img {
        width: 100%;
        height: auto;
    }
}

.inner {
    max-width: 100%;
    padding: 0.5%;

    &-flex {
        display: flex;
    }

    &-flex:nth-child(2) {
        background-color: white;
    }

    &-2 {
        width: 50%;
    }

    &-3 {
        width: 33%;
    }

    &-4 {
        width: 25%;
    }

    &-left {
        float: left;
        max-width: 50%;
    }

    &-right {
        float: right;
        max-width: 50%;
    }

    &-text {
        padding: 0 3%;

        & > div {
            text-align: center;
        }
    }

    &-solo {
        width: 50%;
        margin: 0 auto;
    }

    &-center {
        margin: 0 auto;
    }
}

.banner {
    text-align: center;
    color: white;
    padding: 0 !important;
    margin: 0 !important;

    .text-over-image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.box {
    padding: 2% 4%;
    box-shadow: 0.5px 0.5px 2px black;

    &-light {
        box-shadow: 0.5px 0.5px 2px white;
    }
}