footer {
    border-top: 1px solid $accent-color;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
    color: black;
    background-color: white;
}