.nav {
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    padding: 0.5% 2% 0% 2%;
    background-color: orange;
    &-menu {
        text-align: center;
        width: 50%;
        height: inherit;
        margin: 1%;
        display: inline-flex;
    }
    &-item {
        width: 25%;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}