.nav {
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    height: auto;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid $accent-color;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);

    &-menu {
        text-align: center;
        width: 50%;
        height: inherit;
        margin: 1%;
        display: inline-flex;
    }

    &-title {
        float: left;
        width: auto;
        padding: 1%;
        word-break: keep-all;
    }

    &-item {
        width: 100%;
        margin: 0 1%;
    }
}